/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/



/* Add a border, padding, and margin to the <div> in the App component */
.App {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
}

/* Make the <header> a flexbox, distribute children evenly, and align items vertically in the center */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items:center;
}

.header h1 {
  flex-grow: 1;
}

.header button {
  margin-left: auto;
}

ul {
    text-align: left;
}
